@charset "UTF-8";

@import 'main';
@import 'common/button';

@import url('https://fonts.googleapis.com/css?family=Gentium+Basic:200,300,400,500,700,800,900');

.react-key-work {
    color: #546789;
    text-align: center;
    margin: 1em;

    .left-div {
        width: 20%;
        float: left;
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                height: 75px;
                line-height: 75px;
                color: #fff;
                opacity: 0.9;
                background: #f4511e;
                box-sizing: border-box;
                padding: 2px;
                margin: 5px;
                border-radius: 5px;
                cursor: pointer;

                span {
                    font-size: 32px;
                    font-family: Courier, monospace;
                    position: relative;
                    display: inline-block;
                    transition: 0.2s;

                    &:hover {
                        // box-shadow: 0 12px 12px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
                    }

                    &:after {
                        content: '\00bb';
                        position: absolute;
                        opacity: 0;
                        right: -20px;
                    }
                }

                &:first-child {
                    margin-top: 0;
                }

                &:hover {
                    color: #000;
                    opacity: 1;
                    border: 1px solid rgba(0, 0, 0, 0.5);

                    span {
                        padding-right: 25px;

                        &:after {
                            opacity: 1;
                            right: 0;
                        }
                    }
                }

                &:active {
                    transform: translate(2px, 2px);
                }
            }
        }
    }

    .right-div {
        // width: 80%;
        // float: right;
        text-align: center;
        color: #000;
        background: #ee918d;
        font-size: 72px;
    }

    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

.cardContainer {
    .cardBox {
        font-family: 'Tajawal', sans-serif;
        width: calc(25% - 20px);
        margin: 10px;
        overflow: hidden;
        box-sizing: border-box;
        position: relative;
        height: 400px;
        border-radius: 5px;
        float: left;

        .posterImg {
            width: 250px;
            height: 60%;
            img {
                width: 100%;
                height: 100%;
            }
        }

        .posterContent {
            position: absolute;
            background: #f2f2f2;
            box-sizing: border-box;
            padding: 30px;
            width: 100%;
            height: 40%;

            .title {
                margin: 0;
                padding: 0 0 10px;
                color: #e74c3c;

                font-size: 26px;
                font-weight: 700;
            }

            .type, .year {
                margin: 0;
                padding: 0 0 20px;
                color: #333333;
                font-size: 20px;
                font-weight: 400;
            }
        }

    }
}

.todoApp {
    padding: 20px;

    * {
        outline: none;
        border-radius: 5px;
        font-family: 'Gentium Basic', serif;
    }

    h1 {
        text-align: center;
    }

    button {
        cursor: pointer;
        width: 100px;
        padding: 10px;
        border: none;
        color: white;
        background-color: #2196F3;
    }

    .todoInput {
        font-size: 16px;

        form {
            position: relative;
        }

        input {
            border: none;
            line-height: 28px;
            padding-left: 10px;
            padding-right: 105px;
            box-sizing: border-box;
            width: 100%;
        }

        button {
            position: absolute;
            right: 0;
            padding: 0;
            text-transform: capitalize;
            height: 30px;
            line-height: 30px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            background-color: #2196F3;
        }
    }

    .todoFilter {
        button {
            border-radius: 5px;
            margin: 5px;
            outline: none;
            height: 30px;
            line-height: 30px;
            padding: 0;

            &.activeBtn {
                background-color: #4CAF50;
            }
        }
    }

    .todoList {
        padding-left: 5px;

        li {
            list-style: none;
        }

        .actionBtns {
            float: right;

            button {
                box-sizing: content-box;
                padding: 1px;
                margin: 5px;
                height: 30px;
                line-height: 25px;
            }
        }

        .editTodo {
            overflow: hidden;

            input {
                border: none;
                margin-top: 4px;
                line-height: 30px;
                padding-left: 5px;
                width: 70%;
            }
        }

        .editDelete {
            overflow: hidden;

            .container {
                display: inline-block;
                width: 70%;
                margin-top: 6px;
                line-height: 30px;
                cursor: pointer;
                position: relative;
                font-size: 20px;
                padding-left: 35px;
                text-transform: capitalize;
                margin-bottom: 5px;
                user-select: none;
            }

            .container input {
                opacity: 0;
            }

            .container .checkmark {
                position: absolute;
                left: 0;
                top: 2px;
                width: 25px;
                height: 25px;
                background-color: #ccc;
            }

            .container:hover input + .checkmark {
                background-color: #bbb;
            }

            .container input:checked + .checkmark {
                background-color: #2196F3;
            }

            .checkmark::after {
                content: '';
                position: absolute;
            }

            input:checked + .checkmark::after {
                top: 5px;
                left: 9px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);
            }
        }
    }
}
